@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --opus-bg: #0e0e0e;
  --opus-fg: #f6f4f0;
  --opus-accent: #deb892;
}

body {
  @apply antialiased;
  background-color: var(--opus-bg);
  color: var(--opus-fg);
}
